<!DOCTYPE.html>
<html>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<head>
<h1 style="color: red;">OGAOSUN THERESA BOSE</h1>
</head>
<body>
<img src="https://bit.ly/31YNGEE" alt="Theresa Ogaosun">
<style>
.thin-green-border {
    border-color: green;
    border-width: 5px;
    border-style: solid;
  }
  p {
    font-size: 16px;
    font-family: monospace;
    }
  h1, h2 {font-family: Lobster;
    border-color: black;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid
}
.silver-box {
  background-color: rgb(211, 211, 198);
  padding: 10px;
}
</style>

    <p>7, Osogbo Street,</p>
    <p>Aguda, Surulere,</p>
    <p>Lagos.</p>
    <p>+234 (0) 7081630106</p>
    <a href="ogaosuntheresa@gmail.com">ogaosuntheresa@gmail.com</a> 
<main>
  <hr/ class="thin-green-border">
    <p style="color: black;">Social Media Manager with in-depth knowledge of blogs and social media platforms to increase brand awareness and boost brand loyalty. Adept at creating highly-targeted web content that drives inbound traffic. Aim to join an organization where I can add value and make high impact.</p>
</main>

<style>
  .blue-text {
    color: blue;
  }
</style>
<h2 class="blue-text"><u>Areas of Expertise</u></h2>

<div class="box silver-box">
  <ul>
      <li>SEO</li>
      <li>Strategic Thinker</li>
      <li>Word Press</li>
      <li>Brand Development</li>
      <li>Editing/ Creative Writing</li>
      <li>Social Media Marketing</li>
      <li>Joomla</li>
      <li>Word & Power-point</li>
      <li>Google Analytics</li>
      <li>Effective Communication</li>
      <li>Content Marketing</li>
      <li>Innovative Thinking</li>
  </ul>
</div>

<h2 style="color: red;"><u>Experience</u></h2>
<h4 style="color: green;">KOBI KOACHMAN. LAGOS, FEBRUARY 2018 - PRESENT </h4>
<h4 style="color: green;">STYLE & LIFESTYLE CONTENT MANAGER</h4>

<ul>
    <li>Research, edit, publish and share engaging contents daily (e.g. original text, videos, photos, and news) on digital/social media platforms</li>
    <li>Developing and implementing a new content calendar to manage content and plan specific, timely marketing campaigns</li>
    <li>Design and implement a social media plan to increase sales</li>
    <li>Creating Surveys for readers and audience from time to time to ascertain if they enjoy the
        Contents being created and what they would like to see more or not want to see. Imbibe
        Email Marketing and Digital Marketing strategies to foster awareness and growth.
        </li>
    <li>Performing research on current benchmark trends and audience preferences</li>
    <li>Providing metrics of web traffic statistics, reports on social media analytics and user trends for blog visitors traffic on a weekly basis in order to track trend, growth and results</li>
    <li>Developing and implementing social media strategy to align with business goals
        Suggest and implement new initiatives to develop online reputation, brand awareness,
        promotions and competitions
        </li>
</ul>

<h4 style="color: green;">AFRO MOVIE HUB. LAGOS, SEPTEMBER 2017 - JULY 2018 </h4>
<h4 style="color: green;">SOCIAL MEDIA MANAGER</h4>

<ul>
    <li>Managed social media marketing campaigns and day-to-day activities</li>
    <li>Created, curated, and managed all published content such as images, video and written contents.</li>
    <li>Wrote editorial contents such as movie premieres, movie reviews, movie release, etc.</li>
    <li>Created and maintained a social media editorial calendar and posting schedule</li>
    <li>Developed and implemented good social media strategies that drove sales</li>
    <li>Grew the page and garnered almost 20 thousand followers</li>
    <li>Launched promotional marketing campaigns for the brand</li>
</ul>


<h4 style="color: green;">OMG NAIJA.COM, LAGOS 	JAN 2017 – MAY 2018</h4>
<h4 style="color: green;">SOCIAL MEDIA MANAGER (REMOTE)</h4>

<ul>
  <li>Conducted research and wrote informative, educative and entertaining news articles such as Political News, Fashion News, Celebrity Gossip, etc, daily to be posted on the blog.</li>
  <li>Edited and posted news articles daily on the blog to increase website traffic</li>
  <li>Made strategic decisions or changes relating to the blog</li>
  <li>Developed interesting blogs using various platforms</li>
  <li>Came up with innovative ideas on ways to improve the blog and increase engagement</li>
</ul>


<h2 style="color: blue;"><u>Other Experiences</u></h2>
<p><b>BOSSMAN.NG, LAGOS – BLOGGER (REMOTE) JULY 2017 – FEBRUARY 2018</b></p>
<p><b>PM NEWS, LAGOS – REPORTER (INTERN) OCT 2015 – DEC 2015</b></p>
<p><b>VOICE OF IRGIB AFRICA, BENIN REPUBLIC – STUDENT REPORTER, MARCH 2014 – APRIL 2016</b></p>


<h2 style="color: red;"><u>Education</u></h2>
<p><b>B.Sc., Mass Communications,</b> IRGIB Africa University, Benin Republic, (2017)</p>
<p><b>The West African Examination Certificate,</b> Baptist Bowen College, Lagos (2012)</p>


<h2 style="color: blue;"><u>Personal Details</u></h2>
<p><b>Date of Birth: June 2, 1996 • Sex: Female • Nationality:</b> Nigerian </p>


<h2 style="color: red;"><u>Languages</u></h2>
<p>English (Proficient) German (Currently Learning) French (Currently Learning) </p>

<h2 style="color: blue;"><u>Programming Languages</u></h2>
<p> HTML (Basic) CSS (Basic) </p>

<h2 style="color: yellow;">References</h2>
<p>Available upon request</p>

</body>
</html>